body {
    background-color:#1a1f25;
    font-family: 'Roboto', sans-serif;
   }
   .wrapper {
    width: 300px;

  }

  input[type="text"] {
    background: transparent;
    border: 2px solid #22272d;
    color: #e6b333;
  }
  
  input[type="email"] {
    background: transparent;
    border: 2px solid #22272d;
    color: #e6b333;
  }
  input[type="submit"] {
    background: transparent;
    background-color: #e6b333;
    border: 2px solid #22272d;
    color: #ff0000;
    width: 105%;
    padding: 5px;
    height: 40px;
  }

  input {
    background: #7a288100;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0;
    outline: none;
    color: #e6b333;
  }
img{
  width: 105%;
    padding: 5px;
    height: 200px;
}

textarea {
  background: #7a288100;
  width: 100%;
  padding: 5px;
  height: 30px;
  border-radius: 0px;
  margin: 5px 0;
  outline: none;
  color: #e6b333;
  border:2px solid #22272d ;
}