body {
  background-color:#2d3238;
  font-family: 'Roboto', sans-serif;
 }
 .wrapper {
  width: 300px;
margin-left: 38%;
margin-top: 10%;
}
div{
  width: 290px; height: 50;
  outline: 2px solid #000;
  border: 5px solid #00fa9a;
  border-radius: 12px;
}
input {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #2d2224;
  color: #228799;
  width: 96%;
  padding: 5px;
  height: 40px;
  margin-top: 5%;
}
button{
  background: transparent;
  background-color: #1f8dcc00;
  border: 2px solid #da631f;
  color: #6d3712;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin-top: 10%; 
}
a{
  background: transparent;
  background-color: #1f8dcc00;
  border: 2px solid #da631f;
  color: #6d3712;
  width: 95%;
  padding: 5px;
  height: 40px;
  margin-top: 10%;
}
