body {
  background-color:#1a1f25;
  font-family: 'Roboto', sans-serif;
 }
 .wrapper {
  width: 300px;
margin-left: 38%;
margin-top: 20%;
}


input {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #ff0000;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin-top: 2%;
}
button{
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #00ff0d;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin-top: 2%; 
}


